/* Global */

* {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

*/
/* Chats Page */

.chats-page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #7554a0;
}

.nav-bar {
    width: 100%;
    height: 66px;
    background-color: rgb(72, 50, 72);
}

.logo-tab {
    position: absolute;
    top: 12px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Pacifico', cursive;
    color: white;
    left: 5%;
}

.logout-tab {
    position: absolute;
    color: white;
    cursor: pointer;
    top: 2%;
    right: 5%;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    margin-bottom: 3%;
}

button:hover {
    color: #001F3F;
    background-color: #fff;
}


/* Login Page */

#login-page {
    background-image: linear-gradient(#40a9ff, #096dd9);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#login-card {
    position: relative;
    top: calc(50vh - 144px);
    left: calc(50vw - 210px);
    padding-top: 36px;
    padding-bottom: 66px;
    width: 420px;
    text-align: center;
    background-color: white;
    border-radius: 22px;
}

.login-button {
    cursor: pointer;
    color: white;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
}

.facebook {
    background-color: #3b5998;
    padding: 5px;
}

.google {
    background-color: #3b5998;
    color: white;
    padding: 5px;
}

#loading-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(240, 240, 240);
}

#loading-icon {
    font-size: 66px;
    position: relative;
    left: calc(50vw - 33px);
    top: calc(50vh - 22px);
}